<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A Task</title>

    <style>

        form {
            border: 2px solid #000000;
            background-color: #e5e5e5;
            flex-grow: 1;
        }

        form * {
            display: block;
            margin-left: 10px;
        }

        form label {
            margin-top: 15px;
            margin-bottom: 5px;
        }

        input[type="submit"] {
            background-color: #c0c0c0;
            margin-top: 15px;
        }

        body {
            display: flex;
            flex-direction: column;
            height: 97vh;
        }

       nav {
            font-size: larger;
            display: flex;
            align-items: center;
            padding-left: 10px;
            margin-bottom: 5px;
        }

        nav h1 {
            margin-left: 50px;
        }

    </style>
</head>
<body>
    <nav>
        <!-- THIS IS FOR THE BACK BUTTON!!! -->
            <a href="/">
                <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.7802 2.65978C11.2712 2.16877 11.2701 1.37235 10.7777 0.882731V0.882731C10.2871 0.394882 9.4942 0.396199 9.00522 0.885675L1.41278 8.48579C0.63241 9.26695 0.63273 10.5327 1.4135 11.3135L9.015 18.915C9.50377 19.4038 10.2962 19.4038 10.785 18.915V18.915C11.2738 18.4262 11.2738 17.6338 10.785 17.145L4.95421 11.3142C4.17316 10.5332 4.17317 9.26683 4.95421 8.48579L10.7802 2.65978Z"
                        fill="black" />
                </svg>
            </a>

        <h1>Add A Task</h1>
    </nav>

    <form>
        <!-- for and id used to associate label and form inputs -->
        <!-- name is used to send information to server -->
        <label for="task_name">Task Name:</label>
        <input type="text" name="name" id="task_name" required="required"/>
        <label for="task_dscrp">Task Description:</label>
        <textarea name="dscrp" id="task_dscrp" cols="30" rows="10"></textarea>
        <label for="assign_to">Assign To:</label>
        <input type="text" name="assign" id="assign_to" placeholder="@Name" required="required" />
        <label for="priority">Priority:</label>
        <select name="priority" id="priority" required="required">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
        <label for="calendar">Complete By:</label>
        <input type="date" name="calendar" id="calendar" required="required" />
        <input type="submit" value="Add Task" required="required" />
    </form>
</body>
</html>