<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit A Task</title>

    <style>
        * {
            font-family: 'Trebuchet MS'
        }
        
        form {
            border: 2px solid white;
            background-color: white;
            flex-grow: 1;
            font-size: large;
            padding-left: 20px;
        }

        form * {
            display: block;
            margin-left: 10px;
        }

        form label {
            margin-top: 15px;
            margin-bottom: 5px;
        }

        label[for="task_name"] {
            margin-top: 0px;
        }

        input[type="submit"] {
            background-color: #4A169F;
            margin-top: 30px;
            color: white;
            border: solid #4A169F 1px;
            border-radius: 5px;
            font-size: larger;
            padding: 5px;
            width: 300px;
            margin-left: 12px;
        }

        input[type="text"], textarea {
            width: 300px;
            border: solid #c0c0c0 1px;
            border-radius: 5px;
            font-size: large;
        }

        body {
            display: flex;
            flex-direction: column;
            height: 97vh;
        }

       nav {
            font-size: larger;
            display: flex;
            align-items: center;
            padding-left: 10px;
            color: #4A169F;
        }

        nav h1 {
            margin-left: 90px;
        }

        #priority {
            width: 305px;
            font-size: large;
            border: solid #c0c0c0 1px;
            border-radius: 5px; 
        }

        input[type="date"] {
            width: 305px;
            font-size: larger;
            border: solid #c0c0c0 1px;
            border-radius: 5px;
            color: gray;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/taskDescription">
            <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.7802 2.65978C11.2712 2.16877 11.2701 1.37235 10.7777 0.882731V0.882731C10.2871 0.394882 9.4942 0.396199 9.00522 0.885675L1.41278 8.48579C0.63241 9.26695 0.63273 10.5327 1.4135 11.3135L9.015 18.915C9.50377 19.4038 10.2962 19.4038 10.785 18.915V18.915C11.2738 18.4262 11.2738 17.6338 10.785 17.145L4.95421 11.3142C4.17316 10.5332 4.17317 9.26683 4.95421 8.48579L10.7802 2.65978Z"
                    fill="black" />
            </svg>
        </a>
        <h1>Edit A Task</h1>
    </nav>
    <form>
        <!-- for and id used to associate label and form inputs -->
        <!-- name is used to send information to server -->
        <label for="task_name">Task Name:</label>
        <input type="text" name="name" id="task_name" required="required" />
        <label for="task_dscrp">Task Description:</label>
        <textarea name="dscrp" id="task_dscrp" cols="30" rows="8"></textarea>
        <label for="assign_to">Assigned to:</label>
        <input type="text" name="assign" id="assign_to" placeholder="@Name" required="required" />
        <label for="priority">Priority:</label>
        <select name="priority" id="priority" required="required">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
        <label for="calendar">Complete By:</label>
        <input type="date" name="calendar" id="calendar" required="required" />
        <input type="text" name="id" id="task-id" style="display: none;"/>
        <input type="submit" value="Save Changes" required="required" />
    </form>

    <script>
        var taskName = document.getElementById('task_name');
        var taskDesc = document.getElementById('task_dscrp');
        var taskAssign = document.getElementById('assign_to');
        var taskPriority = document.getElementById('priority');
        var date = document.getElementById('calendar');
        var fullAssignee = localStorage.getItem('taskAssignee');
        var fullPriority = localStorage.getItem('taskPriority').toLowerCase();
        var fullDate = localStorage.getItem('taskDue');
        var taskId = document.getElementById('task-id');

        taskName.value = localStorage.getItem('taskName');
        taskDesc.value = localStorage.getItem('taskDescription');
        taskAssign.value = fullAssignee.substr(fullAssignee.indexOf(':') + 2);
        taskPriority.value = fullPriority.substr(0, fullPriority.indexOf(' '));
        date.value = fullDate.substr(fullDate.indexOf(':') + 2);
        taskId.value = localStorage.getItem('taskId');

        let editForm = document.forms[0];
        editForm.addEventListener('submit', (e) => {
            
            e.preventDefault();
            let taskId = localStorage.getItem('taskId');
            
            // Used this to figure out how to correclty send form data:
            // https://stackoverflow.com/questions/46640024/how-do-i-post-form-data-with-fetch-api
            fetch(`tasks/${taskId}`, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(editForm))
            })
            .then(res => window.location.href = "/home");
        });

    </script>
</body>

</html>