<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        h1 {
            text-align: center;
        }

        #container {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: space-evenly;
            height: 360px;
            padding: 15px;
            margin-top: 60px;
            border: solid black 2px;
            background-color: rgb(209, 205, 205);
        }

        label {
            margin-left: 10px;
            font-size: xx-large;
        }

        #password,
        #login-name {
            margin-left: 10px;
            font-size: x-large;
            height: 40px;
            width: 292px;
        }

        #login-button {
            font-size: xx-large;
            width: 300px;
            margin-left: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .fb-login-button {
            margin-left: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
    </style>

    <script src="/js/facebook.js"></script>
</head>

<body>
    <!-- Includes Facebook's JavaScript SDK -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=203124458232070&autoLogAppEvents=1" nonce="smPEGUrJ"></script>
    
    <h1>Homey</h1>
    <hr>
    <div id="container">
        <label for="login-name">Username:</label>
        <input type="text" name="login-name" id="login-name" required="required" placeholder="Jane Doe" />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required="required" placeholder="Password" minlength="5"/>
        <input id="login-button" type="button" value="Login" required="required" disabled onclick="window.location.href = '/createGroup'"/>
    
        <!-- Facebook button -->
        <fb:login-button class="fb-login-button" data-width="300px" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();">
            Log in With Facebook
        </fb:login-button>
        
    </div>

    <script>
        const userName = document.getElementById('login-name');
        const userPw = document.getElementById('password');
        const submitButton = document.getElementById('login-button');

        userName.addEventListener('input', checkFields);
        userPw.addEventListener('input', checkFields);

        function checkFields() {
            if (userName.value === '' || userPw.value.length < 5) {
                submitButton.disabled = true;
            }
            else {
                submitButton.disabled = false;
            }
        }
    </script>
</body>

</html>