<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Description</title>
    <style>
        * {
            font-family: 'Trebuchet MS'
        }
        
        nav {
            font-size: larger;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 10px;
            margin-bottom: 30px;
            color: #4A169F;
        }

        nav h1 {
            margin-left: 70px;
        }

        #container {
            font-size: x-large;
            height: 300px;
            margin-bottom: 50px;
            border: 1px solid rgb(190, 189, 189);
            border-radius: 5px;
            background-color: white;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            box-shadow: -5px 3px 6px -1px rgba(0, 0, 0, 0.25);
        }

        #container p {
            margin-top: -5px;
        }

        #edit {
            margin: 10px;
            font-size: larger;
            width: 320px;
            height: 45px;
            margin-left: -80px;
            background-color: #4A169F;
            border: solid #4A169F 1px;
            border-radius: 5px;
            color: white;
        }

        #delete {
            margin: 10px;
            font-size: larger;
            width: 150px;
            height: 40px;
            background-color: #DC8400;
            border: solid #DC8400 1px;
            border-radius: 5px;
            color: white;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            margin-left:100px;
        }

        #delete-dialog {
            display: none;
            position: absolute;
            background-color: rgb(209, 109, 109);
            border: solid red 1px;
            border-radius: 5px;
            top: 35%;
            left: 4%;
            font-size: larger;
            padding: 10px;
            width: 325px;
        }

        #delete-dialog button {
            font-size: large;
            width: 50px;
        }

        #no-delete {
            margin-left: 105px;
            margin-right: 15px;
        }
    </style>

</head>

<body>
    <nav>
        <a href="/home">
            <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.7802 2.65978C11.2712 2.16877 11.2701 1.37235 10.7777 0.882731V0.882731C10.2871 0.394882 9.4942 0.396199 9.00522 0.885675L1.41278 8.48579C0.63241 9.26695 0.63273 10.5327 1.4135 11.3135L9.015 18.915C9.50377 19.4038 10.2962 19.4038 10.785 18.915V18.915C11.2738 18.4262 11.2738 17.6338 10.785 17.145L4.95421 11.3142C4.17316 10.5332 4.17317 9.26683 4.95421 8.48579L10.7802 2.65978Z"
                    fill="black" />
            </svg>
        </a>
        <h1>
        </h1>
    </nav>

    <main>
        <div id="container">
            <p>
            </p>
            <p>
            </p>
            <p>
            </p>
        </div>
    </main>

    <div class="buttons">
        <button id="edit">Edit Task</button>
        <button id="delete">Delete Task</button>
    </div>
    <div id="delete-dialog">
        <p>Are you sure you want to delete this task?</p>
        <button id="no-delete">No</button>
        <button>Yes</button>
    </div>

    <script src="js/editTask.js"></script>
    <script src="js/deleteTask.js"></script>
    <script>
        document.querySelector('h1').innerHTML = localStorage.getItem('taskName');
        let categories = document.querySelectorAll("p");
        categories[0].innerHTML = localStorage.getItem("taskCreator");
        categories[1].innerHTML = localStorage.getItem("taskAssignee");
        categories[2].innerHTML = localStorage.getItem("taskPriority");
    </script>
</body>

</html>